/* Reset some default styles for better consistency */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    /* position: fixed; */
}

header {
    background-color: #007BFF;
    color: white;
    text-align: left;
    padding: 25px 120px;
    position: relative;

    display: flex;
    justify-content: space-between;
    /* align-items: center;
    background-color: #333; 
    color: #fff;  */
    padding: 25px 25px;
    padding-left: 30px;
    
}

.registration a {
    text-decoration: none;
    color: #fff; /* Change this to your desired link text color */
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #272626; /* Add a border around the link */
    border-radius: 5px; /* Round the corners of the border */
    margin-left: 450px;
    
}

/* Style for the registration link on hover */
.registration a:hover {
    background-color: #70f25f; /* Change this to your desired background color on hover */
    color: #333; /* Change this to your desired text color on hover */
    margin-top: 20px;
}
/* .menu ul {
    list-style: none;
    display: flex;
   
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
} */

header .logo img {
    width: 80px;
    height: auto;
    position: absolute;
    top: 5px;
    left: 20px;
}
header p{
    margin-left: 0px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
}
nav ul p li a{
    padding-left: 80px;
    /* border: 2px solid rgb(255, 255, 255); */
}
nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.sidebar-right {
    flex: 1;
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
    background-color: rgb(243, 249, 129);
    text-align: justify;
}

main img{
    flex: 3;
    padding: 10px;
    width: 800px;
    height: 400px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: yellow;
}
